@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body {
    font-family: 'Roboto', sans-serif;
    background: #000000;
    width: 100%;
}

.start-your-14-day-fr {
    width: 479px;
    height: 42px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .no-credit-card-requi {
    width: 433px;
    height: 24px;
    opacity: 0.87;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }